<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head :: headFragment"></th:block>
<title>대은</title>

<body>
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<main class="container">
		<table>
			<thead>
				<tr>
					<td>병원명</td>
					<td>주소</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list:${list}">
					<td th:text=${list.getYadmNm}></td>
					<td th:text=${list.addr}></td>
				</tr>
			</tbody>
			
		</table>
	</main>
	<th:block th:replace="common/footer :: footerFragment"></th:block>
</body>

</html>